# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Local databases or logs
data/
*.log
incident_tickets.txt
.venv/
.docker_secrets/
*.sql

# Cryptographic private keys and cert backups
certs/*.key
*.key
certs_backup*/
